*.swp
**/__pycache__/**
Checkpoints/
out/
core*
*.ipynb
*.sh
*.bin
wandb
demo/
backup
pretrain_models/MBart_trimmed/added_tokens.json
/pretrain_models
/pretrain_models
pretrain_models/mytran/config.json
